version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /test
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /test/go
    schedule:
      interval: daily

  - package-ecosystem: gomod
    directory: /test/go
    schedule:
      interval: daily
